/* No close button on tabs. */
	.tab-close-button { display: none; }

/* Force background colour on toolbar */
	#navigator-toolbox { background-color: #c6c6c6 !important; }

/* Match active tabs with toolbar colour */
	#tabbrowser-tabs:not([movingtab]) >#tabbrowser-arrowscrollbox >.tabbrowser-tab >.tab-stack >.tab-background[multiselected="true"],
	#tabbrowser-tabs:not([movingtab]) >#tabbrowser-arrowscrollbox >.tabbrowser-tab >.tab-stack >.tab-background[selected="true"] {
		background-image: none !important; background-color: var(--toolbar-bgcolor) !important;
	}

/* Remove weird gap between pinned and normal tabs. */
	#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) >#tabbrowser-arrowscrollbox >.tabbrowser-tab[first-visible-unpinned-tab] {
		margin-inline-start: 0 !important;
	}

/* Remove gap at start of tab bar */
	#tabbrowser-tabs {
		padding-inline-start: 0 !important; margin-inline-start: 0 !important; border-inline-start: none !important;
	}

/* Remove margin around tabs */
	:root { --tab-border-radius: 0 !important; --tab-block-margin: 0 !important; }

	/* Add border between tabs. */
	.tab-background { border-right: 1px solid rgba(0,0,0,.3) !important; margin-left: -4px !important; }

	/* The box shadow/border for selected tabs looks weird with the above. */
	.tabbrowser-tab:is([visuallyselected="true"], [multiselected]) >.tab-stack >.tab-background { box-shadow: none !important; }

	/* No gap between last tab and new tab button. */
	.tabbrowser-tab[last-visible-tab="true"] { padding-inline-end: 0 !important; }
	#tabs-newtab-button                      { padding-left: 0 !important; }

	/* Less harsh border below the tabs. */
	#nav-bar:not([tabs-hidden="true"])       { box-shadow: 0 -1px 0 rgba(0, 0, 0, .1); }

/* Set URL bar background colour and add a border. */
	#urlbar-input-container { background-color: #fff !important; border: 1px solid hsla(240,5%,5%,.25) !important; }

	/* No need for this margin. */
	#urlbar-container { margin-left: 0 !important; }

/* Don't show these pointless search buttons in URL bar dropdown */
	.search-one-offs { display: none !important; }

/* Dropdown with active tabs; can only be on the left side and is annoying */
#alltabs-button { display: none; }

/* Don't show icons for bookmark toolbar items; they're kind of pointless as I
   just have bookmarklets in there with a generic icon. Just the text is enough. */
	.bookmark-item .toolbarbutton-icon              { display: none; }
	toolbarbutton.bookmark-item:not(.subviewbutton) { min-width: 1.6em; }

/* Never display "Show more bookmarks" in toolbar, as there aren't any more */
	#PlacesChevron { display: none; }

/* Toolbar stuff I never use. */
	#tracking-protection-icon-container,  /* "Tracking protection */
	#urlbar-zoom-button,                  /* Zoom indicator in URL bar */
	#star-button-box,                     /* Bookmark button in URL bar */
	#pageActionButton,                    /* Page actions dropdown in URL bar */
	#pageActionSeparator                  /* Now pointless whitespace */
	{ display: none; }

/* Disable all sorts of things from right-click menu that I never use. */
	#context-navigation, /* back/forward etc. */
	#context-savepage,
	#context-pocket,
	#context-sendpagetodevice,
	#context-selectall,
	#context-viewsource,
	#context-inspect-a11y,
	#context-sendlinktodevice,
	#context-bookmarklink,
	#context-savelink,
	#context-savelinktopocket,
	#context-sendlinktodevice,
	#context-searchselect,
	#context-sendimage,
	#context-print-selection
	{ display: none !important; }

/* Tab */
	#context_bookmarkTab,
	#context_moveTabOptions,
	#context_sendTabToDevice,
	#context_reopenInContainer,
	#context_selectAllTabs,
	#context_closeTabOptions /* "Close multiple tabs" */
	{ display: none !important; }
