/* Larger font size. */
	/* I like to use my own font at a fairly large size. I commented it out here
	 * as I suspect I'm rather idiosyncratic in my preference here. 
				* { font-family: "DejaVu Sans"; font-size: 20px; }
	* */

/* No close button on tabs. */
	.tab-close-button { display: none; }

/* Darker colour for inactive tabs for light themes only*/
	@media (-moz-toolbar-prefers-color-scheme: light) {
		#navigator-toolbox { background-color: #d3d3d3 !important; }
	}
	

/* Match active tabs with toolbar colour */
	#tabbrowser-tabs:not([movingtab]) >#tabbrowser-arrowscrollbox >.tabbrowser-tab >.tab-stack >.tab-background[multiselected="true"],
	#tabbrowser-tabs:not([movingtab]) >#tabbrowser-arrowscrollbox >.tabbrowser-tab >.tab-stack >.tab-background[selected="true"] {
		background-image: none !important; background-color: var(--toolbar-bgcolor) !important;
	}

/* Remove weird gap between pinned and normal tabs. */
	#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) >#tabbrowser-arrowscrollbox >.tabbrowser-tab[first-visible-unpinned-tab] {
		margin-inline-start: 0 !important;
	}

/* Remove margin around tabs */
	:root { --tab-border-radius: 0 !important; --proton-tab-block-margin: 0 !important; }

	/* Add border between tabs. */
	.tab-background { border-right: 1px solid rgba(0,0,0,.3) !important; margin-left: -4px !important; }

	/* The box shadow/border for selected tabs looks weird with the above. */
	.tabbrowser-tab:is([visuallyselected="true"], [multiselected]) >.tab-stack >.tab-background { box-shadow: none !important; }

	/* No gap between last tab and new tab button. */
	.tabbrowser-tab[last-visible-tab="true"] { padding-inline-end: 0 !important; }
	#tabs-newtab-button                      { padding-left: 0 !important; }

/* Set URL bar background colour and add a border. */
	#urlbar-input-container { background-color: #fff !important; border: 1px solid hsla(240,5%,5%,.25) !important; }

	/* No need for this margin. */
	#urlbar-container { margin-left: 0 !important; }

/* Don't show these pointless search buttons in URL bar dropdown */
	.search-one-offs { display: none !important; }

/* Don't show icons for bookmark toolbar items; they're kind of pointless as I
 * just have bookmarklets in there with a generic icon. Just the text is enough. */
	.bookmark-item .toolbarbutton-icon              { display: none; }
	toolbarbutton.bookmark-item:not(.subviewbutton) { min-width: 1.6em; }

/* Toolbar stuff I never use. */
	#tracking-protection-icon-container,  /* "Tracking protection */
	#urlbar-zoom-button,                  /* Zoom indicator in URL bar */
	#star-button-box,                     /* Bookmark button in URL bar */
	#pageActionButton,                    /* Page actions dropdown in URL bar */
	#pageActionSeparator                  /* Now pointless whitespace */
	{ display: none; }
